svg[class*="icon-"] {
	display: inline-block;
	width: 1em;
  height: 1em;
  fill: currentColor;
  /* Icomoon doesn't vertically center fontawesome icons properly */
  transform: translateY(10%);
}

.icon-fw {
  width: 1.28571429em!important;
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 300;
  font-style: normal;
  src: url('../../fonts/Open-Sans-300/Open-Sans-300.eot');
  src: url('../../fonts/Open-Sans-300/Open-Sans-300.eot?#iefix') format('embedded-opentype'),
       local('Open Sans Light'),
       local('Open-Sans-300'),
       url('../../fonts/Open-Sans-300/Open-Sans-300.woff2') format('woff2'),
       url('../../fonts/Open-Sans-300/Open-Sans-300.woff') format('woff'),
       url('../../fonts/Open-Sans-300/Open-Sans-300.ttf') format('truetype'),
       url('../../fonts/Open-Sans-300/Open-Sans-300.svg#OpenSans') format('svg');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 400;
  font-style: normal;
  src: url('../../fonts/Open-Sans-regular/Open-Sans-regular.eot');
  src: url('../../fonts/Open-Sans-regular/Open-Sans-regular.eot?#iefix') format('embedded-opentype'),
       local('Open Sans'),
       local('Open-Sans-regular'),
       url('../../fonts/Open-Sans-regular/Open-Sans-regular.woff2') format('woff2'),
       url('../../fonts/Open-Sans-regular/Open-Sans-regular.woff') format('woff'),
       url('../../fonts/Open-Sans-regular/Open-Sans-regular.ttf') format('truetype'),
       url('../../fonts/Open-Sans-regular/Open-Sans-regular.svg#OpenSans') format('svg');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 600;
  font-style: normal;
  src: url('../../fonts/Open-Sans-600/Open-Sans-600.eot');
  src: url('../../fonts/Open-Sans-600/Open-Sans-600.eot?#iefix') format('embedded-opentype'),
       local('Open Sans Semibold'),
       local('Open-Sans-600'),
       url('../../fonts/Open-Sans-600/Open-Sans-600.woff2') format('woff2'),
       url('../../fonts/Open-Sans-600/Open-Sans-600.woff') format('woff'),
       url('../../fonts/Open-Sans-600/Open-Sans-600.ttf') format('truetype'),
       url('../../fonts/Open-Sans-600/Open-Sans-600.svg#OpenSans') format('svg');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 600;
  font-style: italic;
  src: url('../../fonts/Open-Sans-600italic/Open-Sans-600italic.eot');
  src: url('../../fonts/Open-Sans-600italic/Open-Sans-600italic.eot?#iefix') format('embedded-opentype'),
       local('Open Sans Semibold Italic'),
       local('Open-Sans-600italic'),
       url('../../fonts/Open-Sans-600italic/Open-Sans-600italic.woff2') format('woff2'),
       url('../../fonts/Open-Sans-600italic/Open-Sans-600italic.woff') format('woff'),
       url('../../fonts/Open-Sans-600italic/Open-Sans-600italic.ttf') format('truetype'),
       url('../../fonts/Open-Sans-600italic/Open-Sans-600italic.svg#OpenSans') format('svg');
}



@font-face {
  font-family: 'Source Code Pro';
  font-weight: 300;
  font-style: normal;
  src: url('../../fonts/Source-Code-Pro-300/Source-Code-Pro-300.eot');
  src: url('../../fonts/Source-Code-Pro-300/Source-Code-Pro-300.eot?#iefix') format('embedded-opentype'),
       local('Source Code Pro Light'),
       local('Source-Code-Pro-300'),
       url('../../fonts/Source-Code-Pro-300/Source-Code-Pro-300.woff2') format('woff2'),
       url('../../fonts/Source-Code-Pro-300/Source-Code-Pro-300.woff') format('woff'),
       url('../../fonts/Source-Code-Pro-300/Source-Code-Pro-300.ttf') format('truetype'),
       url('../../fonts/Source-Code-Pro-300/Source-Code-Pro-300.svg#SourceCodePro') format('svg');
}
