.icon-fw {
  width: 1.28571429em!important;
}

@font-face {
  font-family: 'Lora';
  font-weight: 400;
  font-style: normal;
  src: url('../../fonts/Lora-regular/Lora-regular.eot');
  src: url('../../fonts/Lora-regular/Lora-regular.eot?#iefix') format('embedded-opentype'),
       local('Lora'),
       local('Lora-regular'),
       url('../../fonts/Lora-regular/Lora-regular.woff2') format('woff2'),
       url('../../fonts/Lora-regular/Lora-regular.woff') format('woff'),
       url('../../fonts/Lora-regular/Lora-regular.ttf') format('truetype'),
       url('../../fonts/Lora-regular/Lora-regular.svg#Lora') format('svg');
}

@font-face {
  font-family: 'Lora';
  font-weight: 700;
  font-style: normal;
  src: url('../../fonts/Lora-700/Lora-700.eot');
  src: url('../../fonts/Lora-700/Lora-700.eot?#iefix') format('embedded-opentype'),
       local('Lora Bold'),
       local('Lora-700'),
       url('../../fonts/Lora-700/Lora-700.woff2') format('woff2'),
       url('../../fonts/Lora-700/Lora-700.woff') format('woff'),
       url('../../fonts/Lora-700/Lora-700.ttf') format('truetype'),
       url('../../fonts/Lora-700/Lora-700.svg#Lora') format('svg');
}

@font-face {
  font-family: 'Lora';
  font-weight: 400;
  font-style: italic;
  src: url('../../fonts/Lora-italic/Lora-italic.eot');
  src: url('../../fonts/Lora-italic/Lora-italic.eot?#iefix') format('embedded-opentype'),
       local('Lora Italic'),
       local('Lora-italic'),
       url('../../fonts/Lora-italic/Lora-italic.woff2') format('woff2'),
       url('../../fonts/Lora-italic/Lora-italic.woff') format('woff'),
       url('../../fonts/Lora-italic/Lora-italic.ttf') format('truetype'),
       url('../../fonts/Lora-italic/Lora-italic.svg#Lora') format('svg');
}

@font-face {
  font-family: 'Josefin Sans';
  font-weight: 700;
  font-style: normal;
  src: url('../../fonts/Josefin-Sans-700/Josefin-Sans-700.eot');
  src: url('../../fonts/Josefin-Sans-700/Josefin-Sans-700.eot?#iefix') format('embedded-opentype'),
       local('Josefin Sans Bold'),
       local('Josefin-Sans-700'),
       url('../../fonts/Josefin-Sans-700/Josefin-Sans-700.woff2') format('woff2'),
       url('../../fonts/Josefin-Sans-700/Josefin-Sans-700.woff') format('woff'),
       url('../../fonts/Josefin-Sans-700/Josefin-Sans-700.ttf') format('truetype'),
       url('../../fonts/Josefin-Sans-700/Josefin-Sans-700.svg#JosefinSans') format('svg');
}



@font-face {
  font-family: 'Source Code Pro';
  font-weight: 300;
  font-style: normal;
  src: url('../../fonts/Source-Code-Pro-300/Source-Code-Pro-300.eot');
  src: url('../../fonts/Source-Code-Pro-300/Source-Code-Pro-300.eot?#iefix') format('embedded-opentype'),
       local('Source Code Pro Light'),
       local('Source-Code-Pro-300'),
       url('../../fonts/Source-Code-Pro-300/Source-Code-Pro-300.woff2') format('woff2'),
       url('../../fonts/Source-Code-Pro-300/Source-Code-Pro-300.woff') format('woff'),
       url('../../fonts/Source-Code-Pro-300/Source-Code-Pro-300.ttf') format('truetype'),
       url('../../fonts/Source-Code-Pro-300/Source-Code-Pro-300.svg#SourceCodePro') format('svg');
}
