body {
  font-family: "Open Sans", sans-serif;
  font-size: 11pt;
  font-weight: 300;
  background-color: #eee;
  margin: 0; }
  @media print {
    body {
      background-color: #fff; } }

h1, h2, h3 {
  /*text-transform: uppercase;*/ }

h1, h2, h3, strong {
  font-weight: 400; }

code {
  font-family: "Source Code Pro", monospace;
  color: black; }

.container {
  background-color: #fff;
  margin: 0 auto;
  box-sizing: border-box; }
  @media screen {
    .container {
      max-width: 62em; }
      .container a {
        color: #2980b9; } }

@media screen and (min-width: 48em) {
  .container {
    box-shadow: 0 0 1.7em rgba(0, 0, 0, 0.5); } }
  @media print {
    .container {
      min-width: 62em;
      width: 62em;
      padding: 0em 5em; }
      .container a {
        color: black; } }
  .container a {
    text-decoration: none; }

@media screen and (min-width: 48em) {
  .content {
    padding: 0em 5em 5em 5em; } }

@media (max-width: 47.99em) {
  .content {
    padding: 0em 1em 5em 1em; } }

@media screen {
  .header {
    background-color: #3498db;
    color: #fff; }
    .header a {
      color: #fff; } }

.header ul {
  list-style-type: none;
  padding-left: 0; }

@media screen and (min-width: 48em) {
  .header {
    padding: 5em 5em 0em 5em;
    margin: 0; } }

@media screen and (max-width: 47.99em) {
  .header {
    padding: 0em 1em 0em 1em; } }

@media print {
  .header {
    border-bottom: 1px solid #aaa; } }

.body ul {
  margin-top: 0; }

.body div {
  padding-right: 8px; }

@media (max-width: 61.99em) {
  .body div > div {
    padding-left: 8px; } }

.sidebar ul {
  list-style-type: none;
  padding-left: 8px; }

@media (min-width: 62em) {
  .sidebar {
    border-left: 1px solid #aaa; } }

@media (min-width: 48em) {
  .sidebar {
    padding-left: 0; }
    .sidebar div, .sidebar ul {
      padding-left: 8px; } }

@media (max-width: 61.99em) {
  .sidebar div {
    border-bottom: 0;
    text-align: left; } }

.line {
  border-bottom: 1px solid #aaa; }

@media (max-width: 61.99em) {
  .project {
    padding-bottom: 1em; } }

@media (max-width: 61.99em) {
  #projects {
    border-bottom: 1px solid #aaa; } }
