@import 'include-media';

$font-stack: "Open Sans", sans-serif;
$font-size: 11pt;
$body-weight: 300;
$heading-weight: 400;
$monospace-font: "Source Code Pro", monospace;
$background-color: #eee;
$resume-color: #fff;
$line-color: #aaa;
$header-color: #3498db;
$header-text-color: #fff;
$link-color: #2980b9;

$breakpoints: (
  'phone': 30em,
  'tablet': 48em,
  'desktop': 62em
);

body {
	font-family: $font-stack;
	font-size: $font-size;
	font-weight: $body-weight;
	background-color: $background-color;
	margin: 0;

	@include media("print") {
		background-color: $resume-color;
	}
}

@page {
	min-width: 62em;
}

h1, h2, h3 {
	/*text-transform: uppercase;*/
}

h1, h2, h3, strong {
	font-weight: $heading-weight;
}

code {
	font-family: $monospace-font;
	color: black;
}

.container {
	background-color: $resume-color;
	margin: 0 auto;
	box-sizing: border-box;

	@include media("screen") {
		max-width: 62em;
		a {
			color: $link-color;
		}
	}

	@include media(">=tablet", "screen") {
		box-shadow: 0 0 1.7em rgba(0, 0, 0, 0.5);
	}

	@include media("print") {
		padding: 0em 2em;
		a {
			color: black;
		}
	}

	a {
		text-decoration: none;
	}
}

.content {
	@include media(">=tablet", "screen") {
		padding: 0em 5em 5em 5em;
	}

	@include media("<tablet", "screen") {
		padding: 0em 1em 5em 1em;
	}

	@include media("print") {
		padding: 0em 1em 2em 1em;
	}
}

.header {

	@include media("screen") {
		background-color: $header-color;
		color: $header-text-color;

		a {
			color: $header-text-color;
		}
	}

	ul {
		list-style-type: none;
		padding-left: 0;
	}


	@include media(">=tablet", "screen") {
		padding: 2em 5em 0em 5em;
		margin: 5em 0 0 0;
	}

	@include media("<tablet", "screen") {
		padding: 0em 1em 0em 1em;
	}

	@include media("print") {
		border-bottom: 1px solid $line-color;
	}
}

.body {
	ul {
		margin-top: 0;
	}

	div {
		padding-right: 8px;
	}

	@include media("<desktop", "screen") {
		div > div{
			padding-left: 8px;
		}
	}
}

.sidebar {
	ul {
		list-style-type: none;
		padding-left: 8px;
	}
	@include media(">=desktop", "screen") {
		border-left: 1px solid $line-color;
	}
	@include media("print") {
		border-left: 1px solid $line-color;
		> div {
			border-bottom: 1px solid $line-color;
		}
	}
	@include media(">=tablet") {
		padding-left: 0;

		div, ul {
			padding-left: 8px;
		}
	}
	@include media("<desktop", "screen") {
		div {
			border-bottom: 0;
			text-align: left;
		}
	}
}

.line {
	border-bottom: 1px solid $line-color;
}

.project {
	@include media("<desktop") {
		padding-bottom: 1em;
	}
}

#projects {
	@include media("<desktop") {
		border-bottom: 1px solid $line-color;
	}
}
