@import 'include-media';

$font-stack: "Open Sans", sans-serif;
$font-size: 11pt;
$body-weight: 300;
$strong-weight: 400;
$header-weight: 600;
$monospace-font: "Source Code Pro", monospace;
$background-color: #eee;
$resume-color: #f8f8f8;
$header-color: #795548;
$header-text-color: $resume-color;
$line-color: #aaa;
$link-color: lighten($header-color, 5%);
$text-color: #222;

$breakpoints: (
  'phone': 30em,
  'tablet': 48em,
  'desktop': 62em
);

$print-resume-color: white;

$print-color: false;
$print-text-color: black;

@if ($print-color) {
	$print-header-color: $header-color;
	$print-link-color: $link-color;
	$print-header-border: 0;
	$print-header-text-color: white;
}
@else {
	$print-header-color: $print-resume-color;
	$print-link-color: black;
	$print-header-border: 1px solid $line-color;
	$print-header-text-color: $print-text-color;
}

@include media("screen") {
	html, body {
		max-width: 100%;
		overflow-x: hidden;
	}

	.container {
		max-width: 65em;
	}
}

body {
	font-family: $font-stack;
	font-size: $font-size;
	font-weight: $body-weight;
	background-color: $background-color;
	margin: 0;
}

@page {
	min-width: 65em;
}

h2 {
	margin: 0.3em 0;
}

h3 {
	margin: 0.5em 0;
}

strong {
	font-weight: $strong-weight;
}

h1, h2, h3 {
	font-weight: $header-weight;
}

code {
	font-family: $monospace-font;
}

.container {
	background-color: $resume-color;
	margin: 0 auto;
	box-sizing: border-box;

	a {
		text-decoration: none;
		color: $link-color;
	}

	@include media(">=tablet", "screen") {
		box-shadow: 0 0 1.7em rgba(0, 0, 0, 0.5);
		margin-top: 2em;
		margin-bottom: 2em;
	}
}

.content {
	padding: 0em 3em;
	color: $text-color;

	@include media("<tablet", "screen") {
		padding: 0em 1em 5em 1em;
	}
}

.header {
	background-color: $header-color;
	color: $header-text-color;
	padding: 1em 3em;

	a {
		color: $header-text-color;
	}

	h1 {
		font-size: 3em;
		font-weight: $header-weight;
		margin-bottom: 0.5rem;
	}

	ul {
		list-style-type: none;
		padding-left: 0;
		margin-bottom: 0.5rem;
	}

	.contact {
		text-align: right;
	}

	@include media(">=tablet", "screen") {
		margin: 0;
	}

	@include media("<tablet", "screen") {
		padding: 0.5em 1em;
		.contact {
			padding: 0;
		}

		h1 {
			font-size: 2em;
		}
	}

}

.left {
	ul {
		margin-top: 0;
		margin-bottom: 0.5em;
	}

	div {
		padding-right: 8px;
	}

	> div:not(:last-child) {
		border-bottom: 1px solid $line-color;
	}

	@include media("<desktop", "screen") {
		div > div{
			padding-left: 8px;
		}

		> div {
			border-bottom: 1px solid $line-color;
		}
	}
}

.right {
	display: inline-block;
	border-left: 1px solid $line-color;
	padding-left: 0;
	ul {
		list-style-type: none;
		padding-left: 8px;
		margin-top: 0.75em;
	}
	> div {
		border-bottom: 1px solid $line-color;
	}
	h2, p {
		padding-left: 8px;
	}
	@include media("<desktop", "screen") {
		display: flex;
		border-left: 0;
		div {
			text-align: left;
		}
		padding-bottom: 1em;
	}

	@include media("<desktop", ">=tablet", "screen") {
		div {
			border-bottom: 0;
		}

		>div:not(:last-child) {
			border-right: 1px solid $line-color;
		}
	}

	@include media("<tablet", "screen") {
		box-sizing: content-box;
		padding-right: 0;
		padding-left: 8px;

		ul {
			margin: 0;
			padding: 0;
		}
		li {
			display: inline;
		}

		li:nth-child(n + 2):before {
			content: "\2022  ";
		}

		h2 {
			padding-left: 0;
		}
		>div {
			padding-bottom: 0.8em;
		}
	}
}

#projects {
	padding-bottom: 1em;

	> div:first-child {
		margin-bottom: 0.75em;
	}

	@include media("<desktop", "screen") {
		border-bottom: 1px solid $line-color;
		padding-bottom: 0.5em;

		.row {
			padding-left: 0;
		}
	}
}

#experience {
	padding-bottom: 0.5em;

	ul {
		padding-left: 20px;
		margin-bottom: 0;
	}

	div > ul {
		padding-left: 40px;
		margin: 0.2em 0;
	}

	p {
		margin: 0.5em 0;
	}

	.row em {
		font-style: normal;
		font-weight: $header-weight;
		margin-bottom: 0.25em;
	}

	@include media("<desktop", "screen") {
		.row {
			padding-left: 0;
		}
	}
}

.project {
	padding-bottom: 0.3em;

	em {
		font-style: normal;
		font-weight: $header-weight;
	}
}

@include media("print") {
	body {
		background-color: $print-resume-color;
	}

	.container {
		padding: 0;
	}

	.container a {
		color: $print-link-color;
	}

	.header a {
		color: $print-header-text-color;
	}

	.content {
		background-color: $print-resume-color;
		color: $print-text-color;
	}

	.header {
		background-color: $print-header-color;
		color: $print-header-text-color;
		border-bottom: $print-header-border;
	}
}