/*
 * Copyright 2013 Christophe-Marie Duquesne <chmd@chmd.fr>
 *
 * CSS for making a resume with pandoc. Inspired by moderncv.
 *
 * This CSS document is delivered to you under the CC BY-SA 3.0 License.
 * https://creativecommons.org/licenses/by-sa/3.0/deed.en_US
 */

/* Whole document */
body {
    font-family: "PT Serif", serif;
    width: 800px;
    min-width: 800px;
    margin: auto;
    background: #FFFFFF;
    padding: 10px 10px 10px 10px;
    font-size: 10pt;
}

/* Title of the resume */
h1 {
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 50pt;
    color: #333332;
    text-align:right;
    margin-bottom: 10pt;
    text-transform: uppercase;
}

/* Titles of categories */
h2 {
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 16pt;
    text-transform: uppercase;
    color: #333332;
}
/* There is a bar just before each category */
h2:before {
    content: "";
    display: inline-block;
    margin-right:2%;
    width: 14%;
    height: 10pt;
    margin-bottom: 0.1em;
    background-color: #343434;
}

/* Definitions */
dt {
    float: left;
    text-align: right;
    clear: left;
    width: 14%;
    padding-right: 2%;
    /*font-weight: bold;*/
}
dd {
    margin-left: 16%;
}
p {
    margin-top:0;
    margin-bottom:7px;
}

ul {
    margin-top: 0.5em;
}

ul ul {
    margin-top: 0em;
}

/* Blockquotes */
blockquote {
    text-align: center
}

/* Links */
a {
    text-decoration: none;
    color: #333332;
    -webkit-transition:all .2s ease;
    -moz-transition:all .2s ease;
    -ms-transition:all .2s ease;
    -o-transition:all .2s ease;
    transition:all .2s ease;
}
a:hover, a:active {
    color: #676767;
    text-decoration: none;
}

/* Horizontal separators */
hr {
    color: #c3c3c3;
}
